html {
    font-family: 'Poppins', sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

header {
    background: #cea352;
    height: 100%
}

.preload * {
    -webkit-transition: none!important;
    -moz-transition: none!important;
    -ms-transition: none!important;
    -o-transition: none!important
}

.e-running {
    overflow: hidden
}

.pace-running .flowers-topleft {
    -webkit-transform: translate(-100%,-100%);
    transform: translate(-100%,-100%)
}

.pace-running .flowers-topright {
    -webkit-transform: translate(100%,-100%);
    transform: translate(100%,-100%)
}

.pace-running .flowers-bottomright {
    --moz-transform: translate(100%, 100%);
    -webkit-transform: translate(100%,100%);
    transform: translate(100%,100%)
}

.pace-running .flowers-bottomleft {
    -webkit-transform: translate(-100%,100%);
    transform: translate(-100%,100%)
}

.pace-running .flowers-bottomleft,.pace-running .flowers-bottomright,.pace-running .flowers-topleft,.pace-running .flowers-topright {
    display: block
}

.pace-done .flowers-bottomleft,.pace-done .flowers-bottomright,.pace-done .flowers-topleft,.pace-done .flowers-topright {
    display: block
}

.pace-done .loading {
    top: 100%
}

body .flowers-topleft {
    -webkit-transform: translate(-10%,-10%);
    transform: translate(-10%,-10%)
}

body .flowers-topright {
    -webkit-transform: translate(10%,-10%);
    transform: translate(10%,-10%)
}

body .flowers-bottomright {
    -webkit-transform: translate(10%,10%);
    transform: translate(10%,10%)
}

body .flowers-bottomleft {
    -webkit-transform: translate(-10%,10%);
    transform: translate(-10%,10%)
}

body.flowers-leaves .flowers-topleft {
    -webkit-transform: translate(-55%,-55%);
    transform: translate(-55%,-55%)
}

body.flowers-leaves .flowers-topright {
    -webkit-transform: translate(55%,-55%);
    transform: translate(55%,-55%)
}

body.flowers-leaves .flowers-bottomright {
    -webkit-transform: translate(55%,55%);
    transform: translate(55%,55%)
}

body.flowers-leaves .flowers-bottomleft {
    -webkit-transform: translate(-60%,60%);
    transform: translate(-60%,60%)
}

body.open-menu .flowers-topleft {
    -webkit-transform: translate(-25%,-25%)!important;
    transform: translate(-25%,-25%)!important
}

body.open-menu .flowers-topright {
    -webkit-transform: translate(25%,-25%)!important;
    transform: translate(25%,-25%)!important
}

body.open-menu .flowers-bottomright {
    -webkit-transform: translate(25%,25%)!important;
    transform: translate(25%,25%)!important
}

body.open-menu .flowers-bottomleft {
    -webkit-transform: translate(-25%,25%)!important;
    transform: translate(-25%,25%)!important
}

.logo {
    position: fixed;
    top: 60%;
    left: 50%;
    margin-top: -56px;
    margin-left: -90px;
    width: 180px;
    height: 180px;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out
}

.flowers-bottomleft,.flowers-bottomright,.flowers-topleft,.flowers-topright {
    background-size: cover!important;
    position: absolute;
    width: 50%;
    height: 50%;
    display: none;
    -webkit-transition: -webkit-transform 1s;
    -webkit-transform: transform 1s;
    transform: transform 1s;
    position: fixed;
    z-index: 50;
    pointer-events: none
}

.flowers-topleft {
    top: 0;
    left: 0;
    height: 55%;
    background: url(../assets/flowers-topleft.png) no-repeat right bottom
}

.flowers-topright {
    top: 0;
    right: 0;
    background: url(../assets/flowers-topright.png) no-repeat left bottom
}

.flowers-bottomright {
    bottom: 0;
    height: 58%;
    right: 0;
    width: 50%;
    background: url(../assets/flowers-bottomright.png) no-repeat left top
}

.flowers-bottomleft {
    bottom: 0;
    left: 0;
    background: url(../assets/flowers-bottomleft.png) no-repeat right top
}

.flowers-leaves .flowers-topleft {
    -webkit-transform: translate(-44%,-44%);
    transform: translate(-44%,-44%)
}

.flowers-leaves .flowers-topright {
    -webkit-transform: translate(44%,-44%);
    transform: translate(44%,-44%)
}

.flowers-leaves .flowers-bottomright {
    -webkit-transform: translate(44%,44%);
    transform: translate(44%,44%)
}

.flowers-leaves .flowers-bottomleft {
    -webkit-transform: translate(-44%,44%);
    transform: translate(-44%,44%)
}

.flowers-leaves .btn-menu {
    top: 0
}


.pace-running .flowers-bottomleft,.pace-running .flowers-bottomright,.pace-running .flowers-topleft,.pace-running .flowers-topright {
    display: block
}

.pace-done .flowers-bottomleft,.pace-done .flowers-bottomright,.pace-done .flowers-topleft,.pace-done .flowers-topright {
    display: block
}

.pace-done .loading {
    top: 100%
}

.pace-done .logo {
    top: 50%;
    opacity: 1;
    filter: alpha(opacity=100)
}

.pace-done #coffeeWrapper {
    top: 60%;
    opacity: 0;
    filter: alpha(opacity=0)
}

#coffeeWrapper {
    width: 60px;
    height: 50px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin: 0 0 0 -30px;
    text-align: center;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    opacity: 1;
    filter: alpha(opacity=100)
}

#coffeeWrapper span {
    position: absolute;
    bottom: 55px;
    display: block;
    width: 14px;
    height: 34px;
    background: url(/assets/waves-coffee.svg) center bottom no-repeat
}

#coffeeWrapper span.left {
    left: 8px
}

#coffeeWrapper span.middle {
    left: 21px
}

#coffeeWrapper span.right {
    left: 34px
}

#coffeeWrapper span.left,#coffeeWrapper span.middle,#coffeeWrapper span.right {
    -webkit-animation: SMOKE 2s infinite;
    animation: SMOKE 2s infinite
}

#about{
    z-index: 3;
    background: #e3e1d2;
    padding: 150px 0;
    overflow: hidden;
    position: relative
}

#about:after {
    width: 50%;
    top: 0;
    right: 0;
    bottom: 0;
    background: #efece2;
    content: "";
    position: absolute
}

#about h1 {
    margin: 0 0 36px 0;
    text-transform: uppercase;
    color: #395442;
    font-size: 54px;
    font-weight: 800;
    line-height: 54px
}

#about h1 span {
    font-size: 26px
}

#about h3 {
    font-size: 28px;
    line-height: 28px;
    margin: 0 0 20px 0;
    color: #ac9377;
    font-weight: 800
}

#about p {
    font-weight: 400;
    color: #ac9377
}

#about h2 {
    margin: 0;
    text-transform: uppercase;
    color: #fff;
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 3px;
    position: absolute;
    left: -10px;
    top: 50%;
    margin-top: -10px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg)
}

#about.col-right {
    position: absolute;
    top: 0;
    width: 50%;
    bottom: 0;
    right: 0;
    text-align: center;
    z-index: 3;
    padding: 100px;
    padding-top: 266px
}

#about.col-right .bg-gif {
    width: 100%;
    height: 100%;
    background: url(/img/toast-gif.gif) no-repeat center center;
    background-size: cover;
    max-height: 500px
}